<div class="container-fluid  d-flex justify-content-center py-3">
    <div class="signin  text-center my-5 py-3 bg-white">
        <h4 class=" py-3 text-center">
            Sign in to <span class="fw-bold logo-title">
                <span>Electro</span>Mart
            </span>
        </h4>
        <div *ngIf="loginError!=''" class="alert alert-danger w-75 m-auto my-3 p-0">
            {{loginError}}
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="w-75  m-auto text-center my-4">
            <div class="input-container  w-100 text-center position-relative">
                <input id="email" type="email" class="w-100 p-2 rounded-1 " 
                [ngClass]="{
                  'is-valid': registerForm.get('email')?.valid && registerForm.get('email')?.touched,
                  'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched
                  }"
                formControlName="email" 
                placeholder="Email">
                <label class="input-label position-absolute  fw-bold px-2 bg-white" for="email">Email</label>
                <div class="alert alert-danger p-0 text-start my-2" 
                 *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                  <p *ngIf="registerForm.get('email')?.errors?.['required']" class="ms-4">Email is required</p>
                  <p *ngIf="registerForm.get('email')?.errors?.['email']" class="ms-4">Invalid email </p>
                </div> <!-- alert -->
              </div> <!-- input-container -->
              <div class="input-container  w-100 text-center position-relative">
                <input id="Password" [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
                class="w-100 p-2 rounded-1" 
                placeholder="Password"
                [ngClass]="{
                    'is-valid': registerForm.get('password')?.errors==null&&registerForm.get('password')?.touched,
                    'is-invalid':registerForm.get('password')?.errors!=null&&registerForm.get('password')?.touched
                    }">
                <label for="Password" class="input-label position-absolute  fw-bold px-2 bg-white">Password</label>
                <i class="fas fa-eye position-absolute"
                *ngIf="!showPassword"
                 (click)="togglePasswordVisibility()"></i>
                <i class="fas fa-eye-slash position-absolute"
                *ngIf="showPassword"
                (click)="togglePasswordVisibility()"></i>
                <div class="alert alert-danger p-0 text-start my-2 "
                *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                    <p *ngIf="registerForm.get('password')?.errors?.['required']" class="ms-4">Password is required</p>
                    <p *ngIf="registerForm.get('password')?.errors?.['minlength']" class="ms-4">Password must be minimum letters is 6</p>
                </div> <!-- alert -->
            </div><!-- input-container -->
            <div>
                <button class="w-75 py-2 rounded-1" type="submit"
                [disabled]="registerForm.invalid"
            [ngClass]="{'bg-disabled': registerForm.invalid}">Register</button>
            </div>
        </form>
    </div> <!-- signin -->
</div> <!-- container -->
